@use "./fonts" as u;
//Mixins
@mixin banner {
    width: 100%;
    position: relative;
    color: white;
    .banner-content{
        position: absolute;
        width: 100%;
        top: 100px;
        /* right: 10%; */
    }

    img{
        width: 100%;
    }

    span{
        font-size: u.$bannerHeading;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
    }

    span.title{
        margin-bottom: 10px;
        font-weight: normal;
    }
}

/*
    pass the column & margin that we want
*/
@mixin grid($cols, $margin) {
    float: left;
    margin-right: $margin;
    margin-bottom: $margin;
    width: ((100% - (($cols - 1) * $margin))/$cols);
    &:nth-child(#{$cols}n){
        margin-right: 0;
    }
}


@mixin clearFix {
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

@mixin hover{
    &:hover{
      @content;  
    }  
}

@mixin mediaQuery($size){
    @media screen and (max-width: $size) {
        @content;
    }
}
