@use "../utils" as u;

#main-nav{
    background-color: u.$color;
    ul{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: flex-start;

        li{
            list-style-type: none;
            padding: 15px;
            height: 20px;
            flex-grow: 0;
            flex-shrink: 1;

            a{
                text-decoration: none;
                color: white;
                font-size: u.$font-size-normal;
                font-family: u.$font-lato;
                text-align: center;
            }
            
        }
    }
}