@use "../utils" as u;

#main-nav{
    background-color: u.$color;
    ul{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: flex-start;

        @include u.mediaQuery(469px){
            flex-flow: column;
            text-align: center;
        }

        li{
            list-style-type: none;
            padding: 15px;
            height: 20px;
            flex-grow: 0;
            flex-shrink: 1;

            a{
                text-decoration: none;
                color: white;
                font-size: u.$font-size-normal;
                font-family: u.$font-lato;
                text-align: center;
            }

           @include u.hover{
            background-color: rgb(55, 182, 182);
           } 
        }
    }
}