@use "../utils" as u;

section h1{
    font-size: u.$heading-size;
    color: u.$color;
}

#projects{
    .wrapper{
        width: 97%;
        margin: 0 auto;
        @include u.clearFix;
    }
    ul{
        li{
            list-style-type: none;

            @include u.grid(3, 2%);
            img{
                width: 100%;
            }

            @include u.mediaQuery(469px){
                @include u.grid(1, 2%);
            }
        }
    }
}